{% load i18n %}

<picture class="Picture Picture--cover">

     <!--[if IE 9]><video style="display: none;"><![endif]-->

    {% if lazy %}
    {% for source in sources %}
        <source data-srcset="
        {% for di in source.srcset %}
            {{ di.url }} {{ di.wh }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        "
        {% if source.breakpoint %}
            media="(min-width: {{ source.breakpoint }}px)"
        {% endif %}
        />
    {% endfor %}
    {% endif %}

    <!--[if IE 9]></video><![endif]-->

    {% if lazy %}
        <img class="Picture-image {% if classes %}{{ classes }}{% endif %} lazyautosizes lazyloaded"
             srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-sizes="auto"
             alt="{% if object %}{{ object }}{% else %}{% trans "Responsive image" %}{% endif %}"
         />
    {% else %}
        <img src="{{ canonical_url}}"
            {% if object %}alt="{{ object }}"{% endif %}
            {% if srcsets %}
            srcset="
            {% for srcset in srcsets %}
                {{ srcset.url }} {{ srcset.wh }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            "
        {% endif %}
        />
    {% endif %}

</picture>

<noscript>
    <img src="{{ canonical_url}}"
        {% if object %}alt="{{ object }}"{% endif %}
        {% if srcsets %}
        srcset="
        {% for srcset in srcsets %}
            {{ srcset.url }} {{ srcset.wh }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        "
        {% endif %}
    />
</noscript>
